{% load static %}
<div class="container-fluid text-center mt-4 "  >
  <div class="row">   
    <nav class="col-md-2 bg-light sidebar text-center">
      <div class="sidebar-sticky">
        <div class="logo">
          <a href="{% url 'decks' %}">
          <img src="{% static 'img/' %}DeckDoctorLogo.jpg" width="275" height="70.81" class="link-pic"/>
          </a>
        </div>
        <hr/>
        {% if user_username %}
          <h5>Logged as {{ user_username }}</h5>
        {% else %}
          <h5>No account</h5>
        {% endif %}
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'all_leaders'%}">
            Decklist browser
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'cards' %}">
            Card browser
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'charts' %}">
            Statistics
            </a>
          </li>
          {% if user_username %}
          
          <li class="nav-item">
            <a class="nav-link" href="{% url 'collector' %}">
            Card Collector
            </a>
          </li>
          {% else %}
        {% endif %}  
        </ul> 
        <hr/>
        {% if user_username %}
          <h5> Quick-access </h5>
            <ul class="nav flex-column mb-2">
              <li class="nav-item">
              {% if user_preferences.leader1 %}
                <a class="nav-link" href="{% url 'decklist' leader=user_preferences.leader1|slice:":8" deck_set='OP04' %}">
                {{ user_preferences.leader1 }}
                </a>
              {% else %}
                <a class="nav-link" href="{% url 'preferences'%}">
                Leader 1 not selected
                </a>
              {% endif %}
              </li>
              <li class="nav-item">
                {% if user_preferences.leader2 %}
                  <a class="nav-link" href="{% url 'decklist' leader=user_preferences.leader2|slice:":8" deck_set='OP04' %}">
                  {{ user_preferences.leader2 }}
                  </a>
                {% else %}
                  <a class="nav-link" href="{% url 'preferences'%}">
                  Leader 2 not selected
                  </a>
                {% endif %}
              </li>
              <li class="nav-item">
                {% if user_preferences.leader3 %}
                  <a class="nav-link" href="{% url 'decklist' leader=user_preferences.leader3|slice:":8" deck_set='OP04' %}">
                  {{ user_preferences.leader3 }}
                  </a>
                {% else %}
                  <a class="nav-link" href="{% url 'preferences'%}">
                  Leader 3 not selected
                  </a>
                {% endif %}
              </li>
            </ul>
        {% else %}
          <a class="nav-link" href="{% url 'preferences'%}">
            <h5><b> Login to setup: </b></h5>
          </a>
          <h5> Card Collector </h5>
          <h6>&</h6>
          <h5> Quick-access </h5>
        {% endif %} 
        <hr/>
        <h5>Links:</h5>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a class="nav-link" href="https://drive.google.com/drive/folders/1Jo6PYekFJux3-hG1drOyV-q-Hu5i7swz?usp=sharing" target="_blank">
              OPTCGSim
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://onepiecetopdecks.com/" target="_blank">
              OPTopdecks
            </a>
          </li>
        </ul>
        <hr/>
        <h5>Profile:</h5>
        <ul class="nav flex-column mb-2">
          {% if user_username %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'preferences'%}">
              Quick-access settings
            </a>
          </li>
          {% endif %}
          <li class="nav-item">
            {% if user_username %}
  
            {% else %}
            <a class="nav-link" href="{% url 'register'%}">
              Register
            </a>
            {% endif %}
          </li>
          <li class="nav-item">
              {% if user_username %}
              <form action="{% url 'logout' %}" method="POST">
              {% csrf_token %}
                <input class="nav-link" type="submit" value="Log Out"/>
              </form>
              {% else %}
                <a class="nav-link" href="{% url 'login' %}"> Login </a>
              {% endif %}
          </li>
        </ul>
        
      </div>
    </nav>
  </div>
</div>
