{% extends 'base.html' %}
{% load static %}
{% block content %}
<link href="{% static 'css/leader_view.css' %}" rel="stylesheet">

<div class="containter">
  <div class="row">
    <div class="col-lg-12">

    <ul class="filters">
      <li class="active" data-filter="*"><a href="#!"> All </a></li>
      <li data-filter=".Red"><a href="#!"> Red </a></li>
      <li data-filter=".Green"><a href="#!"> Green </a></li>
      <li data-filter=".Blue"><a href="#!"> Blue </a></li>
      <li data-filter=".Purple"><a href="#!"> Purple </a></li>
      <li data-filter=".Black"><a href="#!"> Black </a></li>
      <li data-filter=".Yellow"><a href="#!"> Yellow </a></li>
      <li data-filter=".Pure"><a href="#!"> Only pure </a></li>
    </ul>
    
<div class="projects" >
  {% for leader in leaders %}
    <div class="text-center mx-1 item {{leader.color1}} {{leader.color2}} ">
      <a href="{% url 'decklistOP04' leader=leader.id %}">
      <img src="static/img/{{ leader.id }}.png" height="192" width="137.4"   />
      <h6 class="text">{{leader.name}}</h6>
      </a>
    </div>
  {% endfor %}
  
</div>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="static/js/isotope.min.js"></script>
<script src="static/js/script.js"></script>  
{% endblock content %}