{% extends 'base.html' %}

{% block content %}
{% include 'partials/_messages.html' %}

<div class="container text-center">
  <h1> Top performing Leaders </h1>
  <hr></hr>
  
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top img-fluid" src="static/img/OP04-019.png" alt="photo">
        <div class="card-block text-center">
          <h4 class="card-title"> Doflamingo OP04 </h4>
          <p class="card-text text-center"> Midrange deck focused on getting early card advantage using FILM cards, and then controlling the game with powerfull Events and high-cost Characters</p>
          <a href="{% url 'doflamingo_op04'%}" class="btn btn-primary"><i class="fa fa-eye"></i> Decklists </a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top img-fluid" src="static/img/OP01-060.png" alt="photo">
        <div class="card-block text-center">
          <h4 class="card-title"> Doflamingo OP01 </h4>
          <p class="card-text text-center"> Control deck focused on getting advantage by using Leader ability after stacking the deck with Character effects, sometimes can be really aggresive.</p>
          <a href="{% url 'doflamingo_op01'%}" class="btn btn-primary"><i class="fa fa-eye"></i> Decklists </a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top img-fluid" src="static/img/OP01-002.png" alt="photo">
        <div class="card-block text-center">
          <h4 class="card-title">Law OP01</h4>
          <p class="card-text">Aggresive deck focusing on swarming the board with low-cost Characters, and using Leader ability to swap them for higher cost counterparts from the hand.</p>
          <a href="{% url 'law_op01'%}" class="btn btn-primary"><i class="fa fa-eye"></i> Decklists </a>
        </div>
      </div>
    </div>
  </div>
<div class="container text-center">
  <hr></hr>
  <h1> Most Promising Underdogs</h1>
  <hr></hr>
  
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top img-fluid" src="static/img/OP03-058.png" alt="photo">
        <div class="card-block text-center">
          <h4 class="card-title"> Rizzburg OP03 </h4>
          <p class="card-text text-center"> Midrange deck focused on getting early board presence by cheating out big threats with Leaders Ability. With new support coming in OP04 he is still useless</p>
          <a href="{% url 'rizzburg_op03'%}" class="btn btn-primary"><i class="fa fa-eye"></i> Decklists </a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top img-fluid" src="static/img/OP01-061.png" alt="photo">
        <div class="card-block text-center">
          <h4 class="card-title"> Kaido OP01 </h4>
          <p class="card-text text-center"> Control deck focused on god knows what, making some Kaido shit play, but now in two colors. New support might be neat. Has 1 HP less, that's probably good, right?</p>
          <a href="{% url 'kaido_op01'%}" class="btn btn-primary"><i class="fa fa-eye"></i> Decklists </a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top img-fluid" src="static/img/OP03-022.png" alt="photo">
        <div class="card-block text-center">
          <h4 class="card-title">Arlong OP03</h4>
          <p class="card-text">Aggresive deck focusing on swarming the board with Trigger characters thanks to Leaders ability. Makes use of two archetypes and frankly does not work</p>
          <a href="{% url 'arlong_op03'%}" class="btn btn-primary"><i class="fa fa-eye"></i> Decklists </a>
        </div>
      </div>
    </div>
  </div>


</div>
{% endblock content %}