{% extends 'base.html' %}

{% block content %}
{% include 'partials/_messages.html' %}

<div class="container text-center">
  <h1> Planned features </h1>
  <hr></hr>
  
  <div class="row text-center">
    
    <ul>
      <li> Making the CSS more responsive to size change, also on mobile </li> 
      <li> Expanding the decklist database for all formats and sets </li>
      <li> Drawing charts on color/leader performance base on ^ </li> 
      <li> Comparing decklists to collection state, letting know whitch cards to get </li>
      <li> Decklist submission from users  </li> 
      <li> Cardmarket API is not doable at this stage of the project </li> 
    </ul>
  </div>
</div>    
<div class="container text-center">
  <hr></hr>
  <h1> Welcome to OP DeckDoctor!</h1>
  <hr></hr>
  <img src='../static/img/po_one_piece_card_game_a_prota_1683866507_0d160ef8_progressive.png' height="374.68" width="1000"/>
{% endblock content %}