{% extends 'base.html' %}

{% block content %}
{% include 'partials/_messages.html' %}

<div class="container text-center">
  <h1> Planned features </h1>
  <hr></hr>
  
  <div class="row text-center">
    
    <ul>
      <li>Decklist submission form from users </li> 
      <li>Comparing decklists to collection state, letting know whitch cards to get </li>
      <li>Splitting pages for different formats, this will surely be implemented before OP05 hits</li> 
      <li>I'd like to make it more viable on mobile devices  </li> 
      <li>Lastly I'd like to connect this site to Cardmarket API, don't know how hard this will be tho XD  </li> 
    </ul>
  </div>
</div>    
<div class="container text-center">
  <hr></hr>
  <h1> Welcome to OP DeckDoctor!</h1>
  <hr></hr>
  <img src='../static/img/po_one_piece_card_game_a_prota_1683866507_0d160ef8_progressive.jpg' height="374.68" width="1000"/>
{% endblock content %}