{% extends 'base.html' %}
{% load static %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="{% static 'js/decklist_filters.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>


  <div class="row">
    <div class="col-md-6 mb-5">
      <img src="{% static 'img/' %}{{ leader }}.png" class="border" />
    </div>
    <div class="col-md-6 text-center">
      <br><br>
      <h2> {{ deck.deck_info.leader }} </h2>
      <h1> <strong> {{ deck.deck_info.name }} </strong> </h1>
      <h2>{{ deck.deck_info.color1 }} {{ deck.deck_info.color2 }}</h2>
      <br>
      <hr></hr>
      <h2> This Leader has {{ deck.deck_counter }} decklists submitted in {{ currentFormat }}! </h2>
      <hr></hr>
      <br><br>
      <h3><strong> Leader page in other formats: </strong></h3>
      <div class="btn-group" role="group">
        <a href="{% url 'decklist' leader=leader  deck_set='OP01' %}" class="btn btn-secondary {% if op01 == None%}disabled{%endif%}">OP01</a>
        <a href="{% url 'decklist' leader=leader  deck_set='OP02' %}" class="btn btn-secondary {% if op02 == None%}disabled{%endif%}">OP02</a>
        <a href="{% url 'decklist' leader=leader  deck_set='OP03' %}" class="btn btn-secondary {% if op03 == None%}disabled{%endif%}">OP03</a>
        <a href="{% url 'decklist' leader=leader  deck_set='OP04' %}" class="btn btn-secondary {% if op04 == None%}disabled{%endif%}">OP04</a>
        <a href="{% url 'decklist' leader=leader  deck_set='OP05' %}" class="btn btn-secondary {% if op05 == None%}disabled{%endif%}">OP05</a>
        <a href="{% url 'decklist' leader=leader  deck_set='OP06' %}" class="btn btn-secondary {% if op06 == None%}disabled{%endif%}">OP06</a>
      </div>
      <br><br><br><br>
      <h3><strong> Show decklists: </strong></h3>
  <div class="row menu">   
    <div class="col-lg-3">
      
    </div>
    <div class="col-lg-3">
      <label class="list-group-item ">
        <input class="filter-checkbox mt-1" data-filter="format" value="TCG" type="checkbox" value="true" style="float: left"/>&nbsp; TCG Only
      </label>
    </div>
    <div class="col-lg-3">
      <label class="list-group-item">
        <input class="filter-checkbox mt-1" data-filter="format" value="OCG" type="checkbox" style="float: left"/>&nbsp; OCG Only
      </label>
    </div>
  </div>

    
      
      
    </div>
  </div>

  <hr></hr>
  <h4><b> Average number of cards included from {{ deck.deck_counter }} decklists </b></h4>

  <div class="grid-container">
    {% for zestaw in deck.sorted_avg %}
      <div class="grid-item" data-tooltip="{{ zestaw.0 }}">
        <img src="{% static 'img/placeholder.png' %}" data-src="{% static 'img/' %}{{zestaw.1}}.png" height="128" width="91.6" class="for_zoom_with_tooltip" loading="lazy" />
        <h6><b>{{ zestaw.0 }}</b></h6>
        <div class="tooltip-content">
          <!-- Add content you want to display on hover here -->
          <!-- For example, you can show additional information about the card -->
          Decklists using this card: <b>{{ zestaw.2 }} / {{ deck.deck_counter }}</b><br>
          Minimum inclusion: <b>{{ zestaw.3 }}</b><br>
          Maximum inclusion: <b>{{ zestaw.4 }}</b><br>
          Average inclusion: <b>{{ zestaw.5 }}</b>
          
        </div>
      </div>
    {% endfor %}
  </div>

    
  {% for data in deck.decklist_data %}
    <div class = "decklist" data-format="{{data.format}}">
      <hr></hr>
      <h1>Decklist {{ data.index }}</h1>
      {% for deck_id in data.decklist %}
        <img src="{% static 'img/placeholder.png' %}" data-src="{% static 'img/' %}{{deck_id}}.png" height="128" width="91.6" class="for_zoom" loading="lazy"/>
      {% endfor %}
      <h6> Credits: OPTopdecks.com Format: {{data.format}} </h6>
    </div>
  {% endfor %}

{% endblock content %}