{% extends 'base.html' %}
{% load static %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="{% static 'js/decklist_filters.js' %}"></script>

{{ if deck_info.leader }}
  <div class="row">
    <div class="col-md-6 mb-5">
      <img src="../static/img/{{ deck_info.leader }}.png" class="border" />
    </div>
    <div class="col-md-6 text-center">
      <h1> {{ deck_info.leader }} </h1>
      <h1> <strong> {{ deck_info.name }} </strong> </h1>
      <h2><strong>{{ deck_info.color1 }} {{ deck_info.color2 }}</strong></h2>
      <br><br>
      <hr></hr>
      <h2> This Leader has {{ deck_counter }} decklists submitted! </h2>
      <hr></hr>
      <br><br>
      <h3><strong> Show decklists: </strong></h3>
  <div class="row menu">   
    <div class="col-lg-3">
      
    </div>
    <div class="col-lg-3">
      <label class="list-group-item ">
        <input class="filter-checkbox mt-1" data-filter="format" value="TCG" type="checkbox" value="true" style="float: left"/>&nbsp; TCG Only
      </label>
    </div>
    <div class="col-lg-3">
      <label class="list-group-item">
        <input class="filter-checkbox mt-1" data-filter="format" value="OCG" type="checkbox" style="float: left"/>&nbsp; OCG Only
      </label>
    </div>
  </div>

    
      <br><br>
      <h3><strong> Leader page in other formats: </strong></h3>
      <ul class="switches">
        <li><a href="#!"> Nie  </a></li>
        <li class="active"><a href="#!"> Działa </a></li>
        <li><a href="#!"> JBC </a></li>
      </ul>
    </div>
  </div>

  <hr></hr>
  <h1> Average number of cards included from {{ deck_counter }} decklists </h1>

  <div class="grid-container " >
    {% for zestaw in sorted_avg %}
      <div class="grid-item">
        <img src="../static/img/{{ zestaw.1 }}.png" height="128" width="91.6" class="for_zoom" />
        <h6>{{ zestaw.0 }}</h6>
      </div>
    {% endfor %}
  </div>

    
  {% for data in decklist_data %}
    <div class = "decklist" data-format="{{data.format}}">
      <hr></hr>
      <h1>Decklist {{ data.index }}</h1>
      {% for deck_id in data.decklist %}
        <img src="../static/img/{{deck_id}}.png" height="128" width="91.6" class="for_zoom"/>
      {% endfor %}
      <h6> Credits: OPTopdecks.com Format: {{data.format}} </h6>
    </div>
  {% endfor %}
{% else %}



{% endblock content %}