{% extends 'base.html' %}
{% load static %}

{% load static %}
{% block content %}
<script type="text/javascript" src="{% static 'card_filters.js' %}"></script>
<div id="menu">
  

  <ul>
    <li>
      <a href="#"> Color </a>
      <ul class="dropdown">
        <a href="">
          <li>Red</li>
        </a>
        <a href="">
          <li>Green</li>
        </a>
        <a href="">
          <li>Blue</li>
        </a>
      </ul>
    </li>
    <li>
      <a href="#"> Set </a>
      <ul class="dropdown">
        <li>OP01</li>
        <li>OP02</li>
        <li>OP03</li>
      </ul>
    </li>
  </ul>
  <br><br>
			<h3 class="mb-4 border-bottom pb-1">Filters</h3>
      <div class="row">
        <div class="col-lg-3">
          <div class="card mb-4">
          <h6 class="card-header">Color</h6>
          
          <div class="list-group list-group-flush">
            
              <label class="list-group-item">
                <input class="filter-checkbox mt-1" data-filter="category" value="{{cat.category__id}}" type="checkbox" style="float: left"/>&nbsp;
                Red
              </label>
              <label class="list-group-item">
                <input class="filter-checkbox mt-1" data-filter="category" value="{{cat.category__id}}" type="checkbox" style="float: left"/>&nbsp;
                Green
              </label>
              <label class="list-group-item">
                <input class="filter-checkbox mt-1" data-filter="category" value="{{cat.category__id}}" type="checkbox" style="float: left"/>&nbsp;
                Blue
              </label>
              <label class="list-group-item">
                <input class="filter-checkbox mt-1" data-filter="category" value="{{cat.category__id}}" type="checkbox" style="float: left"/>&nbsp;
                Purple
              </label>
              <label class="list-group-item">
                <input class="filter-checkbox mt-1" data-filter="category" value="{{cat.category__id}}" type="checkbox" style="float: left"/>&nbsp;
                Black
              </label>
              <label class="list-group-item">
                <input class="filter-checkbox mt-1" data-filter="category" value="{{cat.category__id}}" type="checkbox" style="float: left"/>&nbsp;
                Yellow
              </label>
            
            
          </div>
        </ul>
        </div></div>
        <div class="col-lg-3">
          <div class="card mb-4">
          <h6 class="card-header">Set</h6>
          <div class="list-group list-group-flush">
            <label class="list-group-item">
              <input class="filter-checkbox mt-1" data-filter="category" value="{{cat.category__id}}" type="checkbox" style="float: left" />&nbsp;
              OP01
            </label>
            <label class="list-group-item">
              <input class="filter-checkbox mt-1" data-filter="category" value="{{cat.category__id}}" type="checkbox" style="float: left" />&nbsp;
              OP02
            </label>
            <label class="list-group-item">
              <input class="filter-checkbox mt-1" data-filter="category" value="{{cat.category__id}}" type="checkbox" style="float: left"/>&nbsp;
              OP03
            </label>
            <label class="list-group-item">
              <input class="filter-checkbox mt-1" data-filter="category" value="{{cat.category__id}}" type="checkbox" style="float: left"/>&nbsp;
              OP04
            </label>
            <label class="list-group-item">
              <input class="filter-checkbox mt-1" data-filter="category" value="{{cat.category__id}}" type="checkbox" style="float: left"/>&nbsp;
              ST01-09
            </label>
          </div>
        </div></div>
        <div class="col-lg-3">
          <div class="card mb-4">
          <h6 class="card-header">Type</h6>
          <div class="list-group list-group-flush">
            
            <label class="list-group-item">
              <input class="filter-checkbox mt-1" data-filter="brand" value="{{brand.brand__id}}" type="checkbox" style="float: left"/>&nbsp;
              Character
            </label>
            <label class="list-group-item">
              <input class="filter-checkbox mt-1" data-filter="brand" value="{{brand.brand__id}}" type="checkbox" style="float: left"/>&nbsp;
              Event
            </label>
            <label class="list-group-item">
              <input class="filter-checkbox mt-1" data-filter="brand" value="{{brand.brand__id}}" type="checkbox" style="float: left"/>&nbsp;
              Stage
            </label>
          </div>
        </div></div>
        <div class="col-lg-3">
          <div class="card mb-4">
          <h6 class="card-header">Utility</h6>
          <div class="list-group list-group-flush">
            <label class="list-group-item">
              <input class="filter-checkbox mt-1" data-filter="blocker" value="{{size.size__id}}" type="checkbox" style="float: left"/>&nbsp;
              Blocker
            </label>
            <label class="list-group-item">
              <input class="filter-checkbox mt-1" data-filter="trigger" value="{{size.size__id}}" type="checkbox" style="float: left"/>&nbsp;
              Trigger
            </label>
            <label class="list-group-item">
              <input class="filter-checkbox mt-1" data-filter="trigger" value="{{size.size__id}}" type="checkbox" style="float: left"/>&nbsp;
              Counter 1k
            </label>
            <label class="list-group-item">
              <input class="filter-checkbox mt-1" data-filter="trigger" value="{{size.size__id}}" type="checkbox" style="float: left"/>&nbsp;
              Counter 2k
            </label>
            
            
          </div>
        </div></div>
      
			<dl>
        <dt> Color: </dt>
        <dd> - Choose card color cnie </dd>

        <dt> Color: </dt>
        <dd> - Choose card color cnie </dd>

        <dt> Color: </dt>
        <dd> - Choose card color cnie </dd>
      </dl>   

      {% endblock content %}