{% extends 'base.html' %}
{% load static %}

{% load static %}
{% block content %}
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
<script type="text/javascript" src="{% static 'js/card_filters.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>

  

<h3 class="mb-4 border-bottom pb-1"><b>All cards</b></h3>
<div class="row menu">
  <div class="col-lg-3">
  <input class="form-control mb-4 text-center" id="cardSearch" type="text" placeholder="Search by name" >
  </div>
  <div class="col-lg-3 filter-block" id="colors">
    <div class="card mb-4">
      <h6 class="card-header"><b>Color</b></h6>
      <div class="list-group">
        <label class="list-group-item">
          <input class="filter-checkbox mt-1" data-filter="color" value="red" type="checkbox" style="float: left"/> &nbsp; Red
        </label>
        <label class="list-group-item">
          <input class="filter-checkbox mt-1" data-filter="color" value="green" type="checkbox" style="float: left"/> &nbsp; Green
        </label>
        <label class="list-group-item">
          <input class="filter-checkbox mt-1" data-filter="color" value="blue" type="checkbox" style="float: left"/>&nbsp; Blue
        </label>      
        <label class="list-group-item">
          <input class="filter-checkbox mt-1" data-filter="color" value="purple" type="checkbox" style="float: left"/>&nbsp; Purple
        </label>
        <label class="list-group-item">
          <input class="filter-checkbox mt-1" data-filter="color" value="black" type="checkbox" style="float: left"/>&nbsp; Black
        </label>
        <label class="list-group-item">
          <input class="filter-checkbox mt-1" data-filter="color" value="yellow" type="checkbox" style="float: left"/>&nbsp; Yellow
        </label>
      </div>
    </div>
  </div>
  <div class="col-lg-3 filter-block" id="types">
    <div class="card mb-4">
      <h6 class="card-header"><b>Type</b></h6>
      <div class="list-group list-group-flush">
        <label class="list-group-item">
      <input class="filter-checkbox mt-1" data-filter="type" value="CHARACTER" type="checkbox" style="float: left"/>&nbsp; Character
        </label>
        <label class="list-group-item">
        <input class="filter-checkbox mt-1" data-filter="type" value="EVENT" type="checkbox" style="float: left"/>&nbsp; Event
        </label>
        <label class="list-group-item">
        <input class="filter-checkbox mt-1" data-filter="type" value="STAGE" type="checkbox" style="float: left"/>&nbsp; Stage
        </label>
      </div>
    </div>
  </div>
  <div class="col-lg-3 filter-block" id="utility">
    <div class="card mb-4">
      <h6 class="card-header"><b>Utility</b></h6>
      <div class="list-group list-group-flush">
        <label class="list-group-item">
          <input class="filter-checkbox mt-1" data-filter="blocker" value="True" type="checkbox" style="float: left"/>&nbsp; Blocker
        </label>
        <label class="list-group-item">
          <input class="filter-checkbox mt-1" data-filter="trigger" value="True" type="checkbox" style="float: left"/>&nbsp; Trigger
        </label>
        <label class="list-group-item">
          <input class="filter-checkbox mt-1" data-filter="counter" value="True" type="checkbox" style="float: left"/>&nbsp; Counter
        </label>
        <label class="list-group-item">
          <input class="filter-checkbox mt-1" data-filter="counter2k" value="True" type="checkbox" style="float: left"/>&nbsp; Counter 2000
        </label>
      </div>
    </div>
  </div>
</div>


<div class="grid-container" id="filterArea" >
      {% for card in cards %}
        <div class="grid-item" data-color="{{ card.color }}" data-type="{{ card.type }}" data-counter="{{ card.counter }}" data-trigger="{{ card.trigger }}" data-counter2k="{{ card.counter2k }}" data-blocker="{{ card.blocker }}"   >
          <a>
            <img src="../static/img/placeholder.png" data-src="../static/img/{{ card.idx }}.png" height="134.4" width="96.18" class="for_zoom" loading="lazy"/>
            <h6 class="cardName"><b>{{card.name}}</b></h6>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</div>









{% endblock content %}