
{% extends 'base_auth.html' %} 
{% load static %}

{% block content %}

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
   <div class="card mt-5">
    
<div class="card-body">
  <div class="card-title py-3 ">
    <h4><b>Login</b> to Your account, or <a href="{% url 'register' %}"> <b>register</b> </a> instead</h4>
  </div>


      <form action="{% url 'login' %}" method="post">

        {% csrf_token %}
        {% include 'partials/_messages.html' %}
        <div class="form-group">
          <input 
            type="text" 
            name="username" 
            placeholder="Username"
            id="usernameField" 
            class="form-control form-control-sm" 
            value="{{fieldValues.username}}"
            />
        </div>
     
    
        <div class="form-group pt-2">
          <input 
            type="password" 
            name="password" 
            placeholder="Password"
            id="passwordField" 
            class="form-control form-control-sm" 
            />
            <div class="passwordFeedBackArea invalid-feedback" style="display:none">
            </div>

            <small class="float-end showPasswordToggle" >show</small>
        </div>
        <div class="d-grid gap-2 col-6 mx-auto pt-4">
        <input type="submit" value="Login" class="btn btn-block btn-primary" />
        </div>
      </form>
    </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>

<script src="{% static 'js/login.js' %}"></script>

{% endblock content %}