
{% extends 'base_auth.html' %} 
{% load static %}

{% block content %}


<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
   <div class="card mt-5">
<div class="card-body">
  <div class="card-title py-3 ">
    <h4>Metur to gupek</h4>
  </div>


      <form action="{% url 'reset-password' %}" method="post">

        {% csrf_token %}
        {% include 'partials/_messages.html' %}
        <div class="form-group pt-2">
          <input 
            type="email" 
            name="email"
            placeholder="Email"
            id="emailField"
            class="form-control form-control-sm" 

            value="{{fieldValues.email}}"
            />
        </div>
        <div class="emailFeedBackArea invalid-feedback" style="display:none">
        </div>
        
        <div class="d-grid gap-2 col-6 mx-auto pt-4">
        <input type="submit" value="Send new password" class="btn btn-block btn-primary" />
        </div>
      </form>
    </div>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>

<script src="{% static 'js/register.js' %}"></script>

{% endblock content %}