{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="static/img/favicon.ico" sizes="32x32" type="image/ico">

    <title> One Piece DeckDoctor</title>
    
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    
  </head>
  
  <body>
    {% include 'partials/_sidebar.html' %}
    
    <main class="col-md-8 col-lg-7 main text-center">
     {% block content %}
     {% endblock content %}
    </main>
  </body>

</html>
