/* Basic styling */
.main {
  margin: auto;
  margin-left: 450px;
  padding: 0;
}

.sidebar {
  width: 200px;
  position: fixed;
  height: 100%;
}

.content {
  max-width: 500px;
  
  margin: auto;
}
/* Toggle button for opening/closing the sidebar */
.toggle-btn {
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  font-size: 20px;
}