/* Basic styling */


.sidebar {
  width: 200px;
  position: fixed;
  left: 0;
  height: 100%;
}

.main {
  margin: auto;
  margin-left: 450px;
  padding: 0;
}

.content {
  max-width: 500px;
  
  margin: auto;
}
/* Toggle button for opening/closing the sidebar */
.toggle-btn {
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  font-size: 20px;
}

.nav-item:hover
{
  transform: scale(1.3);
}



.list-group {
  display: none;
  position: absolute;
  width: 230px;
  top: 37px;
  z-index: 100;
}

.card:hover .list-group {
  display: block;
}

.list-group label:hover {
  background-color: rgb(155, 155, 155);
}

