.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 0px; 
}

.grid-container-leader {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 8px;
}
.grid-item {
  text-align: center; 
  
}

a img
{
 opacity: 1;
}
a img:hover
{
  transform: scale(1.1);
}
.for_zoom:hover
{
  transform: scale(3);
}


ul.switches{
  display: block;
  width: 100%;
  margin: 0;
  padding: 10px 0;
}

ul.switches > li{
  list-style: none;
  display: inline-block;
}

ul.switches > li > a{
  display: block;
  color: #434e5e;
  text-decoration: none;
  padding: 5px 20px;
}

ul.switches > li > a:hover{
  background-color: #e6e9ed;
}

ul.switches > li.active > a{
  color: #fff;
  background-color: #383838;
}

ul.filters{
  display: block;
  width: 100%;
  margin: 0;
  padding: 10px 0;
}

ul.filters > li{
  list-style: none;
  display: inline-block;
}

ul.filters > li > a{
  display: block;
  color: #434e5e;
  text-decoration: none;
  padding: 5px 20px;
}

ul.filters > li > a:hover{
  background-color: #e6e9ed;
}

ul.filters > li.active > a{
  color: #fff;
  background-color: #383838;
}


.text {
  display: block;
  width: 130px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cardName {
  display: block;
  width: 96.18px;
  overflow: hidden;
  white-space: nowrap;

}

.number-owned {
  display: block;
  width: 96.18px;
  height: 22.23px;
}